*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: orange;
    text-decoration: underline;
}

.alert{
    width: 20vw;
    height: 10vw;

    position: absolute;
    top: 1rem;
    right: -20rem;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 3px 5px 1px #00000082;
    text-align: center;
    border-radius: 5px;

    transition: ease 0.5s;
}